root = true

[*]
indent_style = space

# ReSharper properties
resharper_csharp_max_line_length = 100

[*.{json,asmdef}]
indent_size = 2

[*.cs]
# Basic text
indent_size = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
charset = utf-8

dotnet_diagnostic.ide1006.severity = none
